html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
ul {
    width: 100%;
    position: relative;
    list-style-type: none;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
    z-index: 999;
}

li {
    float: left;
}
@media (min-width:600px){
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
}

@media (max-width:600px){
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

li a:hover {
    background-color: #111;
}


body {
    background-color: LightGray;
    background-size: cover;
    font-family: Arial;
    line-height: 20px;
}

@media (min-width: 600px){
    header, #about-header, #project-summary {
        position: absolute;
        left: 20%; 
        right:20%;
        color: black;
        text-align: center;
    }
}

@media (max-width: 600px){
    header, #about-header, #project-summary {
        position: absolute;
        left: 15%; 
        right:15%;
        color: black;
        text-align: center;
        font-size:80%;
    }
}

h2 {
  padding-top: 30px;
}

img {
    padding: 5px;
    width: 60%;
    height: auto;
    max-height: 60%;
}

.container{
    position:relative;
    float:left;
    width:100%;
    height:auto;
    padding: 3%;
}

.screenshot{
    position: relative;
    margin-right: 2%;
    float:left;
    max-height: 100%;
    max-width: 20%;
    border-radius: 25px;
}

h4{
    margin:0px;
}

hr{
    border-width:1.5px;
    margin-top: 6%;
    margin-bottom: 3%;
}

.content{
    font-size:85%;
}

table {
    padding:5px;
}
