ul {
    width: 100%;
    position: fixed;
    list-style-type: none;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
    z-index: 999;
}

li {
    float: left;
}
@media (min-width:600px){
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
}

@media (max-width:600px){
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

li a:hover {
    background-color: #111;
}


body {
    background-color: LightGray;
    background-size: cover;
    font-family: sans-serif;
/*     padding: 5px;
    background-color: #EBF5FB;
    font-family: Open Sans; */
}

@media (min-width: 600px){
    header {
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }
}

@media (max-width: 600px){
    header {
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        font-size:85%;
    }
}

@media (min-width: 600px){
    #about-header {
        position: absolute;
        top: 450px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }
}

@media (max-width: 600px){
    #about-header {
        position: absolute;
        top: 325px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        font-size:85%;
    }
}

h2 {
  padding-top: 30px;
}

img {
    padding: 5px;
    width: 70%;
    height: auto;
    max-height: 70%;
}

table {
    padding:30px;
}
