*{
  box-sizing: border-box;
}

h1 {
  background-color: lightblue;
}

nav a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

body {
  background-color: #EBF5FB;
  font-family: Open Sans;
}
