.wrapper {
    margin: 0;
    background-image: url("../images/Home2.jpeg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

#background {
    margin: 0;
    position: absolute;
    background-color: rgba(180,180,192,0.05);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}

ul {
    width: 100%;
    position: fixed;
    list-style-type: none;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body {
    margin: 0px;
    padding: 5px;
    background-color: #FEF9E7;
/*     background: url("images/home.jpeg") no-repeat fixed 100%; */
    font-family: Open Sans;
}

h2 {
  padding-top: 70px;
}
/* 
#slideshow {
  margin: 80px auto;
  position: relative;
  width: 640px;
  height: 480px;
  padding: 10px;
  bottom: 22%;
  right: 8%;
  z-index: 8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

img {
    max-width: 100%;
    height: auto;
} */
