h1 {
}

ul {
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body {
    padding: 5px;
    background-color: #EBF5FB;
    font-family: Open Sans;
}

h3 {
  padding-top: 60px;
}
